<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OBAChile</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0"  type="text/css" href=" {% static 'shards-dashboards.1.1.0.min.css' %}">
    <link rel="stylesheet"  type="text/css" href=" {% static 'extras.1.1.0.min.css' %}">
    
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body class="h-100">
    
    <div class="container-fluid">
      <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                <div class="d-table m-auto">
                   {% load static %}

                  <img id="main-logo" class="d-inline-block align-top mr-1" style="max-width: 25px;" src=" {% static 'shards-dashboards-logo.svg' %}" alt="Shards Dashboard">
                  <span class="d-none d-md-inline ml-1">OBAChile</span>
                </div>
              </a>
              
            </nav>
          </div>
          <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
            <div class="input-group input-group-seamless ml-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fas fa-search"></i>
                </div>
              </div>
              <input class="navbar-search form-control" type="text" placeholder="Buscar..." aria-label="Search"> </div>
          </form>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link " href="{% url 'chart' %}">
                  <i class="material-icons">home</i>
                  <span>Inicio</span>
                </a>
              </li>  

              
              <li class="nav-item {% if 'tables' in segment %} active {% endif %}">
              <a href="{% url 'tables' %}" class="nav-link "><span class="pcoded-micon"><i class="material-icons">table_chart</i></span><span class="pcoded-mtext">Tablas</span></a>
              </li>
               <li class="nav-item {% if 'user-profile-lite' in segment %} active {% endif %}">
              <a href="/user-profile-lite.html" class="nav-link "><span class="pcoded-micon"><i class="material-icons">person</i></span><span class="pcoded-mtext">Perfiles</span></a>
              </li>
          
             
            </ul>
          </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                <div class="input-group input-group-seamless ml-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-search"></i>
                    </div>
                  </div>
                  <input class="navbar-search form-control" type="text" placeholder="Buscar..." aria-label="Search"> </div>
              </form>
              <ul class="navbar-nav border-left flex-row ">
                <li class="nav-item border-right dropdown notifications">
                 
                  
              <nav class="nav">
                <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                  <i class="material-icons">&#xE5D2;</i>
                </a>
              </nav>
            </nav>
          </div>
          <!-- / .main-navbar -->
          <div class="main-content-container container-fluid px-4">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-4">
              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <span class="text-uppercase page-subtitle">OBAChile</span>
                <h3 class="page-title">Gráficos Totales</h3>
                
              </div>
            </div>

           <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h5>top 15 autores con más citas</h5>
                </div>
                <div class="card-body">                          
                 <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>                </div>
              </div>
            </div>     
            
            
        </div>

      </div>

<script src="https://code.highcharts.com/highcharts.src.js"> 
 </script>
 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
                    
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript"> 

Highcharts.chart('container', {
        chart: {
            type: 'pie'
        },
        title: {
            text: ''
        },
         xAxis: {
          categories: [
            {% for entry in dataset %}'{{ entry.nombre_autor }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}
          ]
      },
        series: [{
          
          name: '',
          data: [
            {% for entry in dataset %}{{ entry.citas }}{% if not forloop.last %}, {% endif %}{% endfor %}
          ],
          color: 'green'
      }]
      });
</script>
     
          <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link"  href="{% url 'chart' %}">Home</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              
              
            </ul>
            <span class="copyright ml-auto my-auto mr-2"> © 2020
              
            </span>
          </footer>
        </main>
      </div>
    </div>
    
      
    </div>


    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    {% load static %}

   
    <script src="{% static 'extras.1.1.0.min.js' %}"></script>
    <script src="{% static 'shards-dashboards.1.1.0.min.js' %}"></script>
    <script src="{% static 'app-blog-overview.1.1.0.js' %}"></script>
  </body>
</html>